!!!5
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")    
    title="QRdecode"
  body
    img(src="http://www.xiaoqiang.org/wp-content/themes/xiaoqiang/images/x.png")
    P
      <strong>功能介绍：</strong>1，能将网页上选中的文字生成二维码图片，并提供引用地址；2，能将网络上的二维码图片解码成文本信息；<BR/><strong>适用场景</strong>：1，将网页上的有用信息转存到手机；2，将文字或者链接转成二维码发微博；3，在线解读网页上的二维码为文字或者链接；4，直接解读微博上别人发的二维码而不用掏手机；
    p
      <strong>二维码生成使用方法：</strong>1，选中要生成的文本或链接；2，右击打开右键菜单，选择”将xxxx生成二维码”选项；3，弹出生成后的二维码信息页面；
    img(src="http://www.xiaoqiang.org/wp-content/uploads/2011/10/%E4%BA%8C%E7%BB%B4%E7%A0%81%E5%9C%A8%E7%BA%BF%E7%94%9F%E6%88%90%E6%88%AA%E5%9B%BE.jpg")
    p
      <strong>二维码解码使用方法：</strong>1，在二维码图片上右击打开右键菜单，选择“二维码解码”选项；2，弹出二维码解码信息页面；
    img(src="http://www.xiaoqiang.org/wp-content/uploads/2011/10/%E4%BA%8C%E7%BB%B4%E7%A0%81%E5%9C%A8%E7%BA%BF%E8%A7%A3%E7%A0%81%E6%88%AA%E5%9B%BE.jpg")
    img(src="http://www.xiaoqiang.org/wp-content/uploads/2011/10/%E4%BA%8C%E7%BB%B4%E7%A0%81%E5%9C%A8%E7%BA%BF%E8%A7%A3%E7%A0%81%E7%BB%93%E6%9E%9C%E6%88%AA%E5%9B%BE.jpg")
    p
      <strong>小技巧：</strong>二维码解码支持DATA-URI格式的图片
    p
      <strong>2011-11-28更新：</strong>1，添加工具图标，点击图标，当前URL直接生成二维码；2，添加本地文件解码功能，将本地文件拖到浏览器中，右击弹出解码界面，由于浏览器的安全机制，必须手工拖动或者上传图片，方可解码；
    p
      a(href="http://www.xiaoqiang.org/demo/decode/QRdecode.crx", title="在线安装", tagert="_blank")
        在线安装<br />
      a(href="http://node.xiaoqiang.org", title="插件介绍地址", tagert="_blank")
        插件介绍地址<br />
      a(href="https://github.com/xiaoqiang/QRdecode", title="插件github地址", tagert="_blank")
        插件github地址